#pip install git+https://github.com/openai/whisper.git 
#torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu 
yt-dlp 
transformers  
accelerate
bitsandbytes
sentencepiece
huggingface-hub
fpdf